---
interface Item {
  title: string;
  body: string;
}

interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<div class="timeline">
  {items.map((item) => (
    <article class="timeline__item">
      <h3>{item.title}</h3>
      <p>{item.body}</p>
    </article>
  ))}
</div>
